.spaced{
		text-align: center;

}

.spaced img, .spaced p, .spaced ol{
	padding: 40px 20px 0 20px;
	display: inline-block;
	vertical-align: top;
}

.vspaced{
	padding: 100px 0 100px 0;
}

.horizontal-list{
	list-style-type: none;
	padding:0;
	margin:0;
}

.horizontal-list li{
	display: inline;
}

.btn{
	background-color: #d77;
	border-radius: 4px;
	color: white;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	border:0px;
	padding: 0;


}

.btn-large{

	width: 210px;
	height: 70px;
	line-height: 70px;
	font-size: 24px;

}

.btn-med{
	width: 160px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

.btn-small{
	width: 35px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

nav li{
	float: left;
	background-color: #d77;
}

nav li:hover{
/*	background-color: #f88;*/
	box-shadow: inset 0 0 25px #faa;
}

nav li:first-child{
	border-radius: 4px 0 0 4px;
}

nav li:last-child{
	border-radius: 0 4px 4px 0;
}

nav a{
	display: block;
	text-decoration: none;
	color: white;
	width: 80px;
	text-align: center;
	padding: 12px 25px 12px 25px;
}

.pager{
	list-style-type: none;
	padding:0;
	margin:0;
}

.pager li{
	display: inline-block;
	font-size: 18px;
	margin: 3px;
	padding: 7px;
	border-bottom: solid 3px #d77;
}

.pager li:first-child, .pager li:last-child{
	border-bottom: none;
}

.pager a, .pager a:visited{
	text-decoration: none;
	color: #d77;
}

.pager li:nth-child(5){
		color: #ccc;
		border-bottom: solid 3px #ccc;
}


.float-left{
	float:left;
	padding-right: 10px;
}

.clearfix{
	overflow: hidden;
	margin-bottom: 10px;
}

.indent{
	margin-left: 90px;

}